<h1>Your Cart</h1>
<% if @cart.empty? %>
<p> Your Cart is currently empty </p>
<% else %>
<%= link_to 'Empty your cart' , cart_clear_path %>
<% end %>
<br><br><br>
<% total=0 %>
<ul> <% @cart.each do |id,quantity| %>
	<% movie=Movie.find_by_id (id) %>
	<li>
		<%= link_to movie.title,movie %>
		<p> <%= movie.genres %> </p>
		<p> $ <%= movie.price %> </p>
		<p> Quantity: <%= quantity %> </p>
	</li>
	<% total += quantity * movie.price %>
	<% end %>
	<p> <b> $<%= total %> </b> </p>
</ul>
