<p id="notice"><%= notice %></p>


<h1><%= @movie.title %></h1>


<p>
  <p> <img src=" <%= @movie.poster_url %> " alt="HTML5 Icon" style="width:400px;height:400px;" /> </p>
</p>

<table class="table" style="width:400px;">

<tr>
  <td><h5><strong>Genres</strong></h5></td>
  <td><h5><%= @movie.genres %></h5></td>
</tr>

<tr>
  <td><h5><strong>Year</strong></h5></td>
  <td><h5><%= @movie.year %></h5></td>
</tr>

<tr>
  <td><h5><strong>Imdb rating</strong></h5></td>
  <td><h5><%= @movie.imdb_rating %></h5></td>
</tr>

<tr>
  <td><h5><strong>Length</strong></h5></td>
  <td><h5><%= @movie.length %></h5></td>
</tr>

<tr>
  <td><h5><strong>Studio</strong></h5></td>
  <td><h5><%= @movie.studio %></h5></td>
</tr>

<tr>
  <td><h5><strong>Price</strong></h5></td>
  <td><h5>$ <%= @movie.price %></h5></td>
</tr>

</table>


<% if @reviews.blank?%>

<h1>Be the first to review</h1><br>

<% else %>
<h3><strong>Average rating: <%="#{@reviews.length} reviews" %></strong></h3>
<div class="star-rating" data-score=<%= @avg_review%>></div>
<br>
<h2>Reviews</h2><br>


<% @reviews.each do |review| %>

<div class="star-rating" data-score=<%= review.rating %>></div>
<p><h4><%=review.comment %></h4></p><br>	
<% end %>
<% end %>


<h4><%=link_to "Write a review", new_movie_review_path(@movie)%> | 
<%= link_to 'Back', page_browse_path %></h4>


<script>

$('.star-rating').raty({     

path: '/assets/' ,
readOnly: true, 
score: function(){return $(this).attr('data-score');}




});



</script>
