<h1> Search Results </h1>

<% if @search.search_movies.empty? %>
<p> No records found! </p>

<% else  %>
<%= @search.search_movies.each do |c| %>
<br>
<!-- <div class="div"> -->
  <!--
  <h1><%= c.title %></h1>
  <p>Price : $<%= c.price %></p>
  <p>Genres: <%= c.genres %></p>
  <p>IMDB Rating :<%= c.imdb_rating %></p>
-->
<p>
  <strong>Title:</strong>
  <%= c.title %>
</p>

<p>
  <strong>Poster url:</strong>
  <p> <img src=" <%= c.poster_url %> " alt="HTML5 Icon" style="width:128px;height:128px;"></img> </p>
</p>

<p>
  <strong>Genres:</strong>
  <%= c.genres %>
</p>

<p>
  <strong>Year:</strong>
  <%= c.year %>
</p>

<p>
  <strong>Imdb rating:</strong>
  <%= c.imdb_rating %>
</p>

<p>
  <strong>Length:</strong>
  <%= c.length %>
</p>

<p>
  <strong>Studio:</strong>
  <%= c.studio %>
</p>

<p>
  <strong>Price:</strong>
  <%= c.price %>
</p>

<!-- </div> -->
<!-- <% end %> -->
<% end %>
<p> <%= link_to 'Back',new_search_path %> </p>
