#post_content

%h1= @post.title

%strong= @post.genres
%br
%strong= @post.content

#comments
  
  %h2= @post.comments.count
  %hr
  = render @post.comments
  %hr

  %h3 Reply to thread
  = render "comments/form"
= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete the post?" }
= link_to "Post", posts_path
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Con
