<!DOCTYPE html>
<html>
<head>
  <title>Filmo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
<div class="navbar-header">
<h4><%= link_to "Home" , root_path %>
<%= link_to "Browse a Movie" , movies_path%>
<%= link_to "Nearby theatres" , page_About_path %>
<%= link_to "Advanced Search" ,new_search_path %>
<!--<%= link_to "Shop" , page_Shop_path %>-->
<%= link_to "Discussion Forum" ,posts_path %>
<%= link_to "Cart" , cart_path %></h4>
</div>



<div id="sign_in">
<% if user_signed_in? %>

<h4><%= link_to "Sign Out", destroy_user_session_path , method: :delete %></h4>
<% else %>
<h4><%= link_to "Login", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %></h4>
<% end %>
</div>
</div>
</nav>
<div id="main_wrap">
<!--<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->
<%= yield %>
</div>

</body>
</html>
